.container
  .row      
    .span12  
      - if !notice.blank?
        .alert.alert-info
          %button.close{ "data-dismiss" => "alert" }x
          =notice
      %h1 All Tours - Non-Active Tours
      %table.table.table-hover.table-bordered
        %tr
          %th
            = sortable "id" 
          %th
            sortable "depature_date"  
          %th
            sortable "days"  
          %th
            sortable  "amount" 
          %th          
            sortable "about"
          %th
            sortable "available"  
          %th
            sortable  "status"  
          %th
            = link_to  "Add", new_tour_path, :class => "btn btn-success"
        - if @tours    
          - @tours.each  do |tour| 
            %tr
              %td
                %strong
                  -if tour.pilgrim_type == 1 
                    Haj  
                  -elsif tour.pilgrim_type == 2 
                    Umrah
                  -elsif tour.pilgrim_type == 3
                    Ziyarat
                  -else
                    **Invalid input**
              %td
                = tour.depature_date.strftime("%a %d-%B-%Y")
              %td
                = tour.days
              %td
                = tour.amount
              %td
                = tour.about
              %td
                = tour.available              
              %td
                -if tour.depature_date < Time.now()  
                  %span.label.label-warning Booking closed
                -elsif tour.status <= 0 && tour.depature_date > Time.now()                
                  %span.label.label-important Pending
                -elsif tour.status > 0 && tour.depature_date > Time.now()                
                  %span.label.label-success Running     
                -else
                  %span.label.label.inverse Update your tours

                //= operator.mobile
              %td
                = link_to "Edit", edit_tour_path(tour), :class => "btn btn-primary" 
              
                 