%hr
  .container
    .row
      .span12
        .thumbnail
          .well
            %i.icon-list-alt.icon-large
            %strong We found
            %span.badge.badge-important
              = @alltours.count
            %strong
              Tours and travel operator for
              %span.label.label-success
                = @pilgrim_type_name
          %table.table.table-bordered
            %th
            %th
              Tour 
            %th
              Address
            %th
              Contact no.                
            %th              
              About
            %th              
              Amount
            %th              
              Period
            %th
              Depature
            %th
              Availibility
            - @alltours.each  do |tour| 
              %tr
                %td
                  %a{:href=> '#', :class=>'btn btn-info'} Send enquiry
                %td
                  = tour.tour_name
                %td
                  = tour.tour_address
                  %br
                  %strong
                    = tour.tour_city + "-" + tour.tour_country  
                %td
                  = tour.tour_tel
                  %br
                  = tour.tour_mobile
                %td
                  = tour.about
                %td
                  = tour.amount
                %td
                  = tour.days
                %td
                  = tour.depature_date.strftime("%a %d-%B-%Y")  
                %td
                  - if tour.available > 0 
                    %span.badge.badge-success
                      = tour.available
                  -else
                    %span.badge.badge-important
                      = tour.available
                        





                